
<div class="content-wrapper" style="margin-top: -48px;">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">Experiences</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <form id="formAccountSettings" method="POST" onsubmit="return false">
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <label for="firstName" class="form-label">Experience Title</label>
                                    <input class="form-control" type="text" id="firstName"
                                        name="firstName" value="Engineering degree in Computer Science" autofocus />
                                </div>
                                <div class="mb-3 col-md-12">
                                    <label for="lastName" class="form-label">Description</label>
                                    <input class="form-control" type="text" name="lastName"
                                        id="lastName" value="Studied at Ecole Marocaine des Sciences de l'ingénieur" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">Start Date</label>
                                    <input type="date" class="form-control" id="BirthDate" name="BirthDate" autofocus>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">End Date</label>
                                    <input type="date" class="form-control" id="BirthDate" name="BirthDate" autofocus>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2"
                                    style="background-color: #A993FF; border: #f8020b;">Add new Experience</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>


<div class="content-wrapper" style="margin-top: -48px;">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">Skills</h5> 
                    <!-- Account -->
                    <div class="card-body">
                        <form id="formAccountSettings" method="POST" onsubmit="return false">
                            <div class="row">
                                <div class="mb-3 col-md-8">
                                    
                                    <input class="form-control" type="text" id="firstName"
                                        name="firstName" value="Java" autofocus />
                                </div>
                                <div class="mb-3 col-md-4">
                                    <button type="submit" class="btn btn-primary me-2"
                                        style="background-color: #A993FF; border: #f8020b;">Edit</button>
                                    <button type="submit" class="btn  me-2 btn-danger">Delete</button>
                                
                                </div>
                                <div class="mb-3 col-md-8">
                                    
                                    <input class="form-control" type="text" id="firstName"
                                        name="firstName" value="PHP" autofocus />
                                </div>
                                <div class="mb-3 col-md-4">
                                    <button type="submit" class="btn btn-primary me-2"
                                        style="background-color: #A993FF; border: #f8020b;">Edit</button>
                                    <button type="submit" class="btn  me-2 btn-danger">Delete</button>
                                
                                </div>
                                <div class="mb-3 col-md-8">
                                    
                                    <input class="form-control" type="text" id="firstName"
                                        name="firstName" value="Python" autofocus />
                                </div>
                                <div class="mb-3 col-md-4">
                                    <button type="submit" class="btn btn-primary me-2"
                                        style="background-color: #A993FF; border: #f8020b;">Edit</button>
                                    <button type="submit" class="btn  me-2 btn-danger">Delete</button>
                                
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2"
                                    style="background-color: #A993FF; border: #f8020b;">Add new Skill</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>