<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Profile</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icons/linkme.png') }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/boxicons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/core.css') }}"
        class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/theme-default.css') }}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />

    <!-- Helpers -->
    <script src="{{ url_for('static', filename='vendor/js/helpers.js') }}"></script>

    <!-- Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!-- Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
</head>

<body style="background-image: url({{ url_for('static', filename='img/backgrounds/meetings-page-bg.jpg') }})">
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">

                    <a href="/home" class="app-brand-link gap-2">
                        <img src="{{ url_for('static', filename='img/icons/linkme.png') }}" alt="logo" width="60px">
                    </a>
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">

                            </div>
                        </div>
                        <!-- /Search -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <li><a href="/home#Services" style="padding-right: 10px;">SERVICES</a></li>
                            <li><a href="/home#team_section" style="padding-right: 10px;">TEAM</a></li>
                            {% if user.isAdmin %}
                            <li style="padding-right: 10px;"><a href="/admin">ADMIN PANEL</a></li>
                            {% endif %}
                            <li class="nav-item" style="padding-right: 10px;"><a href="/jobs">JOBS</a></li>

                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                    data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="{{ url_for('profile_blueprint.static', filename=user['profile_pic_path']) if user['profile_pic_path'] else url_for('static', filename='img/avatars/1.png') }}" alt
                                            class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="{{ url_for('profile_blueprint.static', filename=user['profile_pic_path']) if user['profile_pic_path'] else url_for('static', filename='img/avatars/1.png') }}" alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">{{ user.first_name }} {{ user.last_name }}</span>
                                                    <small class="text-muted">{% for country in countries %}{% if country['country_id'] == user['nationality'] %} {{ country['country_name'] }} {% endif %}{% endfor %}</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/profile/profile">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/profile/experiences">
                                            <i class="bx bx-award me-2"></i>
                                            <span class="align-middle">My Experiences</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/profile/skills">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars me-2" viewBox="0 0 19 16">
                                                <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                                            </svg>
                                            <span class="align-middle">My Skills</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/logout">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>

                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-4">
                                    <h5 class="card-header">Profile Details</h5>
                                    <!-- Account -->
                                    <div class="card-body">
                                        <!-- Form Start -->
                                        <form id="formAccountSettings" method="POST" action="/profile/profile" enctype="multipart/form-data">
                                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                                <img src="{{ url_for('profile_blueprint.static', filename=user['profile_pic_path']) if user['profile_pic_path'] else url_for('static', filename='img/avatars/1.png') }}"
                                                        alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />

                                                <div class="button-wrapper">
                                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0"
                                                            style="background-color: #A993FF; border: #f8020b;">
                                                        <span class="d-none d-sm-block">Upload new photo</span>
                                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                                        <input type="file" id="upload" name="profile_pic" class="account-file-input" hidden accept="image/png, image/jpeg" onchange="showPreview(event)" />
                                                    </label>
                                                    <button type="button" id="resetButton" class="btn btn-outline-secondary account-image-reset mb-4">
                                                        <i class="bx bx-reset d-block d-sm-none"></i>
                                                        <span class="d-none d-sm-block">Reset</span>
                                                    </button>
                                                    <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                                    <input type="hidden" name="original_profile_pic" value="{{ user['profile_pic_path'] }}">
                                                </div>
                                            </div>
                    
                                            <hr class="my-0" />
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="mb-3 col-md-6 fields">
                                                        <label for="firstName" class="form-label">First Name</label>
                                                        <input class="form-control" type="text" id="firstName" name="firstName"
                                                               value="{{ user.first_name }}" autofocus />
                                                    </div>
                                                    <div class="mb-3 col-md-6 fields">
                                                        <label for="lastName" class="form-label">Last Name</label>
                                                        <input class="form-control" type="text" name="lastName" id="lastName"
                                                               value="{{ user.last_name }}" />
                                                    </div>
                                                    <div class="mb-3 col-md-6 fields">
                                                        <label for="email" class="form-label">E-mail</label>
                                                        <input class="form-control" type="text" id="email" name="email"
                                                               value="{{ user.email }}" placeholder="john.doe@example.com" />
                                                    </div>
                                                    <div class="mb-3 col-md-6 fields">
                                                        <label for="Username" class="form-label">Username</label>
                                                        <input type="text" class="form-control" id="Username" name="Username"
                                                               value="{{ user.username }}" />
                                                    </div>
                                                    <div class="mb-3 col-md-6 fields">
                                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                                        <div class="input-group input-group-merge">
                                                            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                                                                   value="{{ user.phone_number }}" placeholder="06 66 66 66 66" />
                                                        </div>
                                                    </div>
                                                    
                    
                                                    <div class="mb-3 col-md-6 fields">
                                                        <label class="form-label" for="country">Country</label>
                                                        <select id="country" name="country" class="form-select">
                                                            <option value="#" selected>Select Your Nationality</option>
                                                            {% for country in countries %}
                                                            <option value="{{ country['country_id'] }}"
                                                                {% if country['country_id'] == user['nationality'] %} selected {% endif %}>
                                                                {{ country['country_name'] }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                    
                                                    
                                                    <div class="mb-3 col-md-6 fields">
                                                        <label for="address" class="form-label">Address</label>
                                                        <input class="form-control" type="text" id="address" name="address"
                                                            value="{{ user.Address }}" />
                                                    </div>

                                                    <div class="col-md-12 fields">
                                                    <button id="SaveChanges" type="submit" class="btn btn-primary me-2"
                                                            style="background-color: #A993FF; border: #f8020b;">Save changes</button>
                                                    <a href="#" id="changePasswordLink" class="btn btn-link">Change Password</a>
                                                </div>
                                            </form>
                                                <div id="changePassword" hidden>
                                                    <form id="formChangePassword" method="POST" action="{{ url_for('profile_blueprint.change_password') }}">
                                                        <div class="mb-3 col-md-6 password-fields">
                                                            <label for="OldPassword" class="form-label">Old Password</label>
                                                            <input class="form-control" type="password" id="OldPassword" name="OldPassword" required>
                                                        </div>
                                                        <div class="mb-3 col-md-6 password-fields">
                                                            <label for="NewPassword" class="form-label">New Password</label>
                                                            <input class="form-control" type="password" id="NewPassword" name="NewPassword" required>
                                                        </div>
                                                        <div class="mb-3 col-md-6 password-fields">
                                                            <label for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
                                                            <input class="form-control" type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" required>
                                                        </div>
                                                        <div class="col-md-12 password-fields">
                                                            <button id="savePassword" type="submit" class="btn btn-primary me-2">Save new password</button>
                                                            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                                        </div>
                                                        <div id="error-message" class="text-danger"></div>
                                                    </form>
                                        </div>
                                            </div>
                                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                            <script>
                                                $(document).ready(function() {
                                                    $('#formChangePassword').on('submit', function(e) {
                                                        e.preventDefault();  // Prevent the default form submission
                                            
                                                        $.ajax({
                                                            type: 'POST',
                                                            url: $(this).attr('action'),
                                                            data: $(this).serialize(),
                                                            success: function(response) {
                                                                if (response.status === 'success') {
                                                                    // Redirect to profile page or show success message
                                                                    window.location.href = "{{ url_for('.profile') }}";
                                                                } else {
                                                                    // Show error message
                                                                    $('#error-message').text(response.message);
                                                                }
                                                            },
                                                            error: function() {
                                                                $('#error-message').text('An error occurred while updating the password.');
                                                            }
                                                        });
                                                    });
                                                });
                                            </script>
                                        <!-- Form End -->
                                    </div>
                                    <!-- /Account -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const changePasswordLink = document.getElementById('changePasswordLink');
                            const changePassword = document.getElementById('changePassword');
                            const fields = document.querySelectorAll('.fields');
                            const cancelButton = document.querySelector('button[type="reset"]');
                            const savePassword = document.getElementById('savePassword');
                            const saveChanges = document.getElementById('SaveChanges');
                    
                            changePasswordLink.addEventListener('click', function (event) {
                                event.preventDefault();
                                changePassword.hidden = false;
                                fields.forEach(field => field.hidden = true);
                                changePasswordLink.hidden = true;
                            });
                    
                            cancelButton.addEventListener('click', function () {
                                changePassword.hidden = true;
                                fields.forEach(field => field.hidden = false);
                                changePasswordLink.hidden = false;
                            });
                        });
                    
                        document.getElementById('resetButton').addEventListener('click', function() {
                            const originalPicPath = '{{ url_for('static', filename=user['profile_pic_path']) if user['profile_pic_path'] else url_for('static', filename='img/avatars/1.png') }}';
                            document.getElementById('uploadedAvatar').src = originalPicPath;
                            document.getElementById('upload').value = '';
                        });
                    
                        function showPreview(event) {
                            const [file] = event.target.files;
                            if (file) {
                                const preview = document.getElementById('uploadedAvatar');
                                preview.src = URL.createObjectURL(file);
                                preview.onload = () => URL.revokeObjectURL(preview.src);
                            }
                        }
                    </script>

                </div>

                </div>

                <div class="content-wrapper" style="margin-top: -48px;">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <h5 class="card-header">Delete Account</h5>
                                    <div class="card-body">
                                        <div class="mb-3 col-12">
                                            <div class="alert alert-danger">
                                                <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
                                                <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                                            </div>
                                        </div>
                                        <form id="formAccountDelete" method="POST" action="{{ url_for('profile_blueprint.deleteAccount') }}">
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                                                <label class="form-check-label" for="accountActivation">I confirm my account deletion</label>
                                            </div>
                                            <button type="submit" class="btn btn-danger deactivate-account">Delete Account</button>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Content -->
                    <div class="content-backdrop fade"></div>
                </div>
                <script>
                    document.getElementById('formAccountDelete').addEventListener('submit', function (event) {
                        event.preventDefault();
                    
                        if (!document.getElementById('accountActivation').checked) {
                            alert('Please confirm your account deletion.');
                            return;
                        }
                    
                        var form = this;
                        var formData = new FormData(form);
                    
                        fetch(form.action, {
                            method: form.method,
                            body: formData,
                            headers: {
                                'X-CSRFToken': formData.get('csrf_token') // if using CSRF protection
                            }
                        }).then(function (response) {
                            if (response.redirected) {
                                window.location.href = response.url;
                            } else {
                                return response.json();
                            }
                        }).then(function (data) {
                            if (data && data.message) {
                                alert(data.message);
                            }
                        }).catch(function (error) {
                            console.error('Error:', error);
                        });
                    });
                    
                    
                </script>

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <div class="mb-2 mb-md-0">
                            ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            , All rights are reserved -
                            <a href="https://github.com/0ZEUS01/LinkMe" target="_blank"
                                class="footer-link fw-bolder">LinkME</a>
                        </div>
                    </div>
                </footer>
                
                    
                <script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
    
                <script src="{{ url_for('static', filename='vendor/libs/popper/popper.js') }}"></script>
                
                <script src="{{ url_for('static', filename='vendor/js/bootstrap.js') }}"></script>
    
                <script src="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
                

                <script src="{{ url_for('static', filename='vendor/js/menu.js') }}"></script>

                <script src="{{ url_for('static', filename='js/main.js') }}"></script>

                <script async defer src="https://buttons.github.io/buttons.js"></script>
            </body>

</html>
