<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/pages/search.css') }}">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icons/linkme.png') }}" />
    <link href="{{ url_for('static', filename='home/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='home/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home/css/templatemo-edu-meeting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home/css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home/css/lightbox.css') }}">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/boxicons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/core.css') }}"
        class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/theme-default.css') }}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />

    <script src="{{ url_for('static', filename='vendor/js/helpers.js') }}"></script>

    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="" class="logo">
                            <img src="{{ url_for('static', filename='img/icons/linkme.png') }}" alt="logo" width="80px" height="78px" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li style="margin-right: -30px;">
                                <div class="container">
                                    <form class="searchbox">
                                        <input type="search" placeholder="Search..." name="search" class="searchbox-input" onkeyup="filterJobs();" required>
                                        <button type="submit" class="searchbox-submit">
                                            <img src="{{ url_for('static', filename='img/icons/loupe.png') }}" alt="Search">
                                        </button>
                                    </form>
                                </div>
                            </li>
                            <li><a href="/jobs">Jobs</a></li>
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="dropdown-toggle hide-arrow" href="javascript:void(0);"
                                data-bs-toggle="dropdown">Profile <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                    </svg></a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="{{ url_for('profile_blueprint.static', filename=session['profile_pic_path']) if session['profile_pic_path'] else url_for('static', filename='img/avatars/1.png') }}" alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">{{ session[first_name] }} {{ session[last_name] }}</span>
                                                    <small class="text-muted">{% for country in countries %}{% if country['country_id'] == session['nationality'] %} {{ country['country_name'] }} {% endif %}{% endfor %}</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/profile/profile">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/profile/experiences">
                                            <i class="bx bx-award me-2"></i>
                                            <span class="align-middle">My Experiences</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/profile/skills">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars me-2" viewBox="0 0 19 16">
                                                <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                                            </svg>
                                            <span class="align-middle">My Skills</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/logout">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area End ***** -->

    <section class="upcoming-meetings" id="potential-jobs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Potential Jobs</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        {% for job in job_data %}
                        <div class="item col-lg-4" >
                            <div class="meeting-item">
                                <div class="down-content">
                                    <a href="https://www.google.com/search?q={{ job.job_title | urlencode }}" target="_blank">
                                        <img src="{{ url_for('static', filename='img/icons/businessman.png') }}" style="width:40px; height:40px">
                                        <h4>&nbsp&nbsp {{ job.job_title }}</h4>
                                    </a>&nbsp&nbsp {{ job.similarity | round(2) }}%
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="upcoming-meetings" id="job-offers" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Job Offers</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        {% for job in job_offers %}
                        <div class="item col-lg-4">
                            <div class="meeting-item">
                                <div class="down-content">
                                    <a href="conference_details.html">
                                        <img src="{{ url_for('static', filename='img/icons/email.png') }}" style="width:40px; height:40px">
                                        <h4>{{ job.job_title }}</h4>
                                    </a><br>
                                    <div style="padding-left: 40px;">
                                        <b>Company:</b> {{ job.company }}<br>
                                        <b>Location:</b> {{ job.location }}<br>
                                        <b>Salary per year:</b> {{ job.salary_range }}<br>
                                        <b>Required Skills:</b> {{ job.required_skills }}<br>
                                        <b>Responsibility:</b> {{ job.job_description }}<br>
                                        <b>Experience Level:</b> {{ job.experience_level }}<br>
                                        <b>Industry:</b> {{ job.industry }}<br>
                                        <b>Job Type:</b> {{ job.job_type }}<br>
                                        <b>Date Posted:</b> {{ job.date_posted }}<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <script src="{{ url_for('static', filename='home/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/lightbox.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/tabs.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/video.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/slick-slider.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/custom.js') }}"></script>


    <script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
    
                <script src="{{ url_for('static', filename='vendor/libs/popper/popper.js') }}"></script>
                
                <script src="{{ url_for('static', filename='vendor/js/bootstrap.js') }}"></script>
    
                <script src="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
                

                <script src="{{ url_for('static', filename='vendor/js/menu.js') }}"></script>

                <script src="{{ url_for('static', filename='js/main.js') }}"></script>

                <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');
    
        var showSection = function showSection(section, isAnimate) {
            var direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;
    
            if (isAnimate) {
                $('body, html').animate({
                    scrollTop: reqSectionPos
                }, 800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }
        };
    
        var checkSection = function checkSection() {
            $('.section').each(function () {
                var $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').siblings().removeClass('active');
                }
            });
        };
    
        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });
    
        $(window).scroll(function () {
            checkSection();
        });
    
        $(document).ready(function () {
            var submitButton = $('.searchbox-submit');
            var inputBox = $('.searchbox-input');
            var searchBox = $('.searchbox');
            var isOpen = false;
        
            submitButton.click(function (event) {
                event.preventDefault(); // Prevent the form from submitting immediately
                if (!isOpen) {
                    searchBox.addClass('searchbox-open');
                    inputBox.focus();
                    isOpen = true;
                } else {
                    searchBox.removeClass('searchbox-open');
                    inputBox.prop('value', '');
                    inputBox.focusout();
                    isOpen = false;
                    // Show all job items
                    $('.item').show();
                    // Reset the input value
                    inputBox.prop('value', '');
                }
            });
        
            submitButton.mouseup(function () {
                return false;
            });
        
            searchBox.mouseup(function () {
                return false;
            });
        
            $(document).mouseup(function () {
                if (isOpen) {
                    submitButton.click();
                }
            });
        });
        function buttonUp() {
            var inputVal = $('.searchbox-input').val();
            inputVal = $.trim(inputVal).length;
            if (inputVal !== 0) {
                $('.searchbox-icon').css('display', 'none');
            } else {
                $('.searchbox-input').val('');
                $('.searchbox-icon').css('display', 'block');
            }
        }
    
        function filterJobs() {
            let input = document.querySelector('.searchbox-input').value.toLowerCase();
            let potentialJobs = document.querySelectorAll('#potential-jobs .item');
            let jobOffers = document.querySelectorAll('#job-offers .item');
    
            filterSection(potentialJobs, input);
            filterSection(jobOffers, input);
        }
    
        function filterSection(jobItems, input) {
            jobItems.forEach(item => {
                let title = item.querySelector('h4').innerText.toLowerCase();
                if (title.includes(input)) {
                    item.style.display = "";               
                } else {
                    item.style.display = "none";
                }
            });
        }
    </script>
    
    
</body>
</html>
